body{
color:#ff0;
background-color: #000;
	width: 100%;
	height: 100vh;

}

iframe{
	width: 100%;
	height: 100vh;	
	position: absolute;
	left:25vw;
	top: 0;	
	z-index: inherit;
}
.title1{
z-index: 200;
	width: 20%;
	height: 100px;	
	position: absolute;
	left: 90vw;
	top: 50vh;
	background-color: #f00;
}
